.background-blob {
    position: fixed;
    width: 60%;
    height: 100vh;
    left: 20%;
    top: 0;
    z-index: -1;
    transition: background 0.5s ease-in-out;
    background: conic-gradient(from 180deg at 50% 50%, #e44233 0deg, #ff654f 133.12deg, #ff866c 208.13deg, #ffa88b 360deg) no-repeat;
    filter: blur(200px);
    transform: rotate(180deg) translateY(40%);
}
.background-blob.blue {
    background: conic-gradient(from 180deg at 50% 50%, #682c45 0deg, #985871 133.12deg, #cb86a0 208.13deg, #ffb7d2 360deg);
    transform: rotate(0deg) translateY(0);
}
.background-blob::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
}
